{
   "Bag Pool": {
      "Opposed Bags": [
         {
            "Blank": 2,
            "Hit": 2,
            "Bronze": 2
         },
         {
            "Blank": 2,
            "Miss": 2,
            "Gobbler": 2
         }
      ],
      "Base": [
         {
            "Hit Red": 3,
            "Bronze": 1,
            "Silver": 1,
            "Gold": 1,
            "Miss": 4,
            "Hit Bronze": 1,
            "Hit Silver": 2,
            "Hit Gold": 1,
            "Miss Bronze": 1,
            "Gobbler": 0,
            "Gobstopper": 1
         }
      ]
   },
   "Token Pool": {
      "Blank": {
         "Sum Value": 0,
         "Hit Value": 0,
         "Can Be Stolen": false,
         "Can Steal": false,
         "Can Latch": false,
         "Return to Bag": false,
         "Min Rank": 0,
         "Ends Pulls": false,
         "Can Flip": false,
         "Flipped": {
            "Can Flip": false
         },
         "Enable Crit": -1
      },
      "Hit": {
         "Sum Value": 1,
         "Hit Value": 1,
         "Can Be Stolen": true
      },
      "Hit Red": {
         "Sum Value": [
            -1,
            1
         ],
         "Hit Value": [
            -1,
            1
         ],
         "Can Be Stolen": true,
         "Can Flip": true,
         "Flipped": {
            "Sum Value": 1,
            "Hit Value": 1,
            "Can Be Stolen": false,
            "Min Rank": 0
         }
      },
      "Hit Bronze": {
         "Sum Value": 1,
         "Hit Value": 1,
         "Can Be Stolen": true,
         "Can Flip": true,
         "Flipped": {
            "Can Be Stolen": false,
            "Min Rank": 1
         }
      },
      "Hit Silver": {
         "Sum Value": 1,
         "Hit Value": 1,
         "Can Be Stolen": true,
         "Can Flip": true,
         "Flipped": {
            "Sum Value": 2,
            "Hit Value": 1,
            "Can Be Stolen": false,
            "Min Rank": 2
         }
      },
      "Hit Gold": {
         "Sum Value": 1,
         "Hit Value": 1,
         "Can Be Stolen": true,
         "Can Flip": true,
         "Flipped": {
            "Sum Value": 3,
            "Hit Value": 2,
            "Can Be Stolen": false,
            "Min Rank": 3
         }
      },
      "Bronze": {
         "Sum Value": 1,
         "Hit Value": 1,
         "Min Rank": 1,
         "Enable Crit": 1
      },
      "Silver": {
         "Sum Value": 2,
         "Hit Value": 1,
         "Min Rank": 2,
         "Enable Crit": 2
      },
      "Gold": {
         "Sum Value": 3,
         "Hit Value": 2,
         "Min Rank": 3,
         "Enable Crit": 3
      },
      "Gobbler": {
         "Sum Value": 0,
         "Hit Value": 0,
         "Can Steal": true,
         "Return to Bag": true
      },
      "Gobstopper Bronze": {
         "Sum Value": -2,
         "Hit Value": -2,
         "Ends Pulls": true,
         "Can Flip": true,
         "Flipped": {
            "Sum Value": 1,
            "Hit Value": 1,
            "Min Rank": 1,
            "Ends Pulls": false
         }
      },
      "Gobstopper": {
         "Sum Value": -2,
         "Hit Value": -2,
         "Ends Pulls": true
      },
      "Miss Gold": {
         "Sum Value": -1,
         "Hit Value": -1,
         "Can Flip": true,
         "Flipped": {
            "Sum Value": 3,
            "Hit Value": 2,
            "Min Rank": 3
         }
      },
      "Miss Silver": {
         "Sum Value": -1,
         "Hit Value": -1,
         "Can Flip": true,
         "Flipped": {
            "Sum Value": 2,
            "Hit Value": 1,
            "Min Rank": 2
         }
      },
      "Miss Bronze": {
         "Sum Value": -1,
         "Hit Value": -1,
         "Can Flip": true,
         "Flipped": {
            "Sum Value": 1,
            "Hit Value": 1,
            "Min Rank": 1
         }
      },
      "Miss Special": {
         "Sum Value": -1,
         "Hit Value": -1
      },
      "Miss": {
         "Sum Value": -1,
         "Hit Value": -1
      }
   }
}
